<div style="max-width: 900px; border: solid 1px #ebebeb; margin: 0 auto; font-family: 'Microsoft JhengHei';">
    <div style="background-color: #666e8b; text-align: center;">
        <img src="/myProjects/TTLF/static/common/img/logo/logo-line.png" width="302" height="74">
    </div>

    <div style="text-align: center; margin-bottom: 30px">
        <h1 style="font-size: 36px;">2020年第三期-常在法律快訊</h1>
        <h4>編輯：OOO 律師 / OOO 律師</h4>
        <h4 style="color: #8e7353; font-weight: bold;">
            <div style="display: inline-block; border: 1px solid #8e7353; border-radius: 16px; width: 14px; height: 14px; line-height: 16px; font-size: 12px; margin: auto;">！</div>
            常在法律快訊內容並非法律意見，不適用於具體個案，如有任何建議或疑義，請與本所聯絡。
        </h4>
    </div>

    <div>
        <h3 style="background-color: #b9bcc7; padding: 15px 20px; font-weight: bold; text-align: center;">法律快訊</h3>
        <div style="padding: 0 30px; margin: 30px 0 60px 0;">
            <div>
                <div style="float: left; height: 4px; width: 16px; background-color: #8e7353; margin: 16px 8px 16px 0"></div>
                <h2 style="padding-left: 24px;">財政部訂定「稅捐稽徵機關受理納稅義務人因嚴重特殊傳染性肺炎疫情影響申請延期或分期繳納稅捐審核原則」</h2>
            </div>
            <h3 style="color: #8e7353; font-size: 18px; font-weight: bold;">1-1 我是副標題</h3>
            <p>為協助納稅義務人因嚴重特殊傳染性肺炎疫情影響不能於規定繳納期間內一次繳清稅捐者，依稅捐稽徵法第26條申請延期或分期繳納，財政部於109年3月25日訂定發布「稅捐稽徵機關受理納稅義務人因嚴重特殊傳染性肺炎疫情影響申請延期或分期繳納稅捐審核原則」，並自即日生效。</p>
                <div style="max-width: 600px; margin: auto;">
                    <img src="https://picsum.photos/1920/1080" style="width: 100%;  text-align: center;">
                    <div>一些文字一些文字一些文字</div>
                </div>

            <hr style="margin: 30px 0">

            <div>
                <div style="float: left; height: 4px; width: 16px; background-color: #8e7353; margin: 16px 8px 16px 0"></div>
                <h2 style="padding-left: 24px;">假如有有新的標題  我上面是分隔線~~</h2>
            </div>
            <p>為協助納稅義務人因嚴重特殊傳染性肺炎疫情影響不能於規定繳納期間內一次繳清稅捐者，依稅捐稽徵法第26條申請延期或分期繳納，財政部於109年3月25日訂定發布「稅捐稽徵機關受理納稅義務人因嚴重特殊傳染性肺炎疫情影響申請延期或分期繳納稅捐審核原則」，並自即日生效。</p>
            <img src="https://picsum.photos/1400/700" style="width: 100%;">
        </div>
    </div>

    <div>
        <h3 style="background-color: #b9bcc7; padding: 15px 20px; font-weight: bold; text-align: center;">實務見解/法律新聞</h3>
        <div style="padding: 0 30px; margin: 30px 0 60px 0;">
            <div>
                <div style="float: left; height: 4px; width: 16px; background-color: #8e7353; margin: 16px 8px 16px 0"></div>
                <h2 style="padding-left: 24px;">財政部訂定「稅捐稽徵機關受理納稅義務人因嚴重特殊傳染性肺炎疫情影響申請延期或分期繳納稅捐審核原則」</h2>
            </div>
            <p>為協助納稅義務人因嚴重特殊傳染性肺炎疫情影響不能於規定繳納期間內一次繳清稅捐者，依稅捐稽徵法第26條申請延期或分期繳納，財政部於109年3月25日訂定發布「稅捐稽徵機關受理納稅義務人因嚴重特殊傳染性肺炎疫情影響申請延期或分期繳納稅捐審核原則」，並自即日生效。</p>
            <img src="https://picsum.photos/1400/700" style="width: 100%;">
        </div>
    </div>
        
    <div>
        <h3 style="background-color: #b9bcc7; padding: 15px 20px; font-weight: bold; text-align: center;">常在動態</h3>
    </div>

    <div>
        <h3 style="background-color: #b9bcc7; padding: 15px 20px; font-weight: bold; text-align: center;">法律短評</h3>
    </div>

</div>