<footer>
  <nav class="container d-flex align-items-center justify-content-around">
    <a class="btn btn-round active" href="/myProjects/Hangoutwith/templates/user/memberView.html">
      <img class="svg24" src="/static/common/img/svg/user.svg" onload="SVGInject(this)">
    </a>

    <a class="btn btn-round" href="/myProjects/Hangoutwith/templates/attractions.html">
      <img class="svg24" src="/static/common/img/svg/search.svg" onload="SVGInject(this)">
    </a>

    <a class="btn btn-round" href="/myProjects/Hangoutwith/templates/invite/inviteMe.html">
      <!-- <img class="svg24" src="/static/common/img/svg/Date.svg" onload="SVGInject(this)"> -->
      <img class="svg24" src="/static/common/img/svg/Date-dot.svg">
    </a>

    <a class="btn btn-round" href="/myProjects/Hangoutwith/templates/heart/heartList-get.html">
      <!-- <img class="svg24" src="/static/common/img/svg/comment-heart.svg" onload="SVGInject(this)"> -->
      <img class="svg24" src="/static/common/img/svg/comment-heart-dot.svg">
    </a>

    <a class="btn btn-round" href="/myProjects/Hangoutwith/templates/notification.html">
      <!-- <img class="svg24" src="/static/common/img/svg/bell.svg" onload="SVGInject(this)"> -->
      <img class="svg24" src="/static/common/img/svg/bell-dot.svg">
    </a>
  </nav>
</footer>