<header>
  <nav class="container flex-center-a">
    <div class="d-flex h-100 header-min-w-lg-250">
      <a class="flex-center-a" href="/myProjects/Hangoutwith/templates/index.html">
        <img height="32" src="/static/common/img/logo/Logo-line@2x.png" class="img-oc">
      </a>
    </div>
    <div class="d-none d-lg-block mx-auto">
      <a class="btn header-link active" href="/myProjects/Hangoutwith/templates/attractions.html">人氣景點網美</a>
      <a class="btn header-link" href="/myProjects/Hangoutwith/templates/invite/inviteMe.html">邀約我</a>
      <a class="btn header-link" href="/myProjects/Hangoutwith/templates/heart/heartList-get.html">愛心清單</a>
    </div>
    <div class="ms-auto flex-center-a justify-content-between justify-content-lg-end ch-gx-3 header-min-w-lg-250">
      <!-- 登入後 -->
      <div class="flex-center-a me-0 me-lg-3 fw-bold"><img class="me-1" src="/static/common/img/svg/money.svg">可用額度 5,000,000</div>
      <a class="btn btn-white btn-round lg_:d-none" href="/myProjects/Hangoutwith/templates/notification.html"><img class="svg24" src="/static/common/img/svg/bell.svg"></a>
      <a class="btn btn-white btn-round lg_:d-none" href="/myProjects/Hangoutwith/templates/user/memberView.html"><img width="46" src="/static/common/img/svg/Avatar.svg"></a>

      <!-- 登入前 -->
      <a class="btn w-auto" href="/myProjects/Hangoutwith/templates/auth/login.html">登入</a>
    </div>
  </nav>
</header>