<div id="modal">
  <div id="modal-alert" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body py-4 ch-gy-4">
          <div class="text-center fs-h3 js-alert-content"></div>
          <div class="text-center">
            <button type="button" class="btn btn-brand js-alert-close-btn max-w-120" data-bs-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>