<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="">
    <title></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script> -->
    <script src="https://unpkg.com/vue@3.2.41/dist/vue.global.js"></script>
    <!-- <script src="static/js/apexCharts.min.js"></script> -->

    <link href="static/css/main.css" rel="stylesheet">

</head>
<body>
    <div id="wrap">
        <main>
            <div class="container">
                <section class="my-5">
                    <h1 class="fw-bold">周俊宇 
                        <span class="h4 fw-bold">/ {{age}}歲</span>
                        <span class="h4 fw-bold">/ 前端工程師</span>
                    </h1>

                    <hr class="mb-4">
                    
                    <h3 class="section-title">個人技能樹：</h3>
                    <div class="row g-3">
                        <div class="col-12 col-sm-6 col-md-3" v-for="skill in skills">
                            <table class="table thead-dark table-striped table-sm skill-table">
                                <thead>
                                    <tr>
                                        <th class="fs-5">{{skill.title}}：</th>
                                        <th>經驗</th>
                                        <!-- <th>備註</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="td in skill.list">
                                        <td>{{td.name}}</td>
                                        <td>{{monthsToYearString(td.exp)}}</td>
                                        <!-- <td>{{td.desc}}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

                <section class="my-5">
                    <h3 class="section-title">特色工作作品：(Demo頁)</h3>
                    <div class="row g-3">
                        <div class="col-12 col-xl-6" v-for="items in works">
                            <a class="card flex-sm-row link h-100" :href="items.url" target="_blank">
                                <div class="card-header p-2 flex-center" style="min-width: 240px">
                                    <div class="bg_img ratio ratio-4x3" :style="`background-image: url( ${items.img} )`"></div>
                                </div>
                                <div class="card-body flex-center-a">
                                    <div class="ch-gy-1">
                                        <div class="fs-4 text-dark fw-bold mb-2"> {{ items.title }}</div>
                                        <div class="fs-6 text-primary">主要框架： {{ items.core }}</div>
                                        <div class="fs-6 text-success">大型套件： {{ items.plugins }}</div>
                                        <div class="fs-6 text-danger">特色說明： {{ items.spec }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>

                <section class="my-5">
                    <h3 class="section-title">其他工作作品：(近兩年) (正式連結)</h3>
                    <ul>
                        <li v-for="item in otherWorks">
                            <a v-if="item.link !== ''" :href="item.link" target="_blank">{{item.name}}</a>
                            <span v-else>{{item.name}}</span>
                        </li>
                    </ul>
                </section>

                <section class="my-5">
                    <h3 class="section-title">LeetCode中難度刷題記錄:</h3>
                    <div class="mb-3 ps-3">
                        <div>
                            0001 ~ 1999 題: <a class="hrefText" href="https://hackmd.io/V_NP67KSRKuCvlhOBmTMWA?view" target="_blank"></a>
                        </div>
                        <div>
                            2000 ~ 2500 題: <a class="hrefText" href="https://hackmd.io/L1Jf61E5QuaFxYsL9zXsIQ?view" target="_blank"></a>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script>
        const { ref, reactive } = Vue;
        const App = {
            setup(){
                const age = ref( Math.floor( ( new Date() - new Date('1993-10-31') )/1000/60/60/24/365 ) )

                const skills = reactive({
                    frontEnd: {
                        title: '基礎 / 主題',
                        list: [
                            {
                                name: 'Html、Css、Js',
                                exp: 48,
                                desc: '熟悉',
                            },
                            {
                                name: 'jQuery',
                                exp: 48,
                                desc: '熟悉',
                            },
                            {
                                name: 'Bootstrap',
                                exp: 48,
                                desc: '熟悉',
                            },
                            {
                                name: 'Tailwind',
                                exp: 6,
                                desc: '普通',
                            },
                            {
                                name: 'Canvas (自學)',
                                exp: 3,
                                desc: '略懂',
                            },
                        ],
                    },
                    frameworks: {
                        title: '三大框架',
                        list: [
                            {
                                name: 'Vue (cdn)',
                                exp: 12,
                                desc: '普通',
                            },
                            {
                                name: 'Vue (cli)',
                                exp: 3,
                                desc: '略懂',
                            },
                            {
                                name: 'Angular (cdn)',
                                exp: 6,
                                desc: '普通',
                            },
                            {
                                name: 'React',
                                exp: 3,
                                desc: '略懂',
                            },
                        ],
                    },
                    plugins: {
                        title: '大型套件',
                        list: [
                            {
                                name: 'GSAP 3',
                                exp: 6,
                                desc: '普通',
                            },
                            {
                                name: 'Three.js',
                                exp: 3,
                                desc: '略懂',
                            },
                            {
                                name: 'D3.js',
                                exp: 3,
                                desc: '略懂',
                            },
                        ],
                    },
                    others: {
                        title: '其他',
                        list: [
                            {
                                name: 'SQL',
                                exp: 12,
                                desc: '普通',
                            },
                            {
                                name: 'GIT',
                                exp: 12,
                                desc: '普通',
                            },
                            {
                                name: 'SVN',
                                exp: 24,
                                desc: '普通',
                            },
                        ]
                    }
                })
                
                const works = reactive([
                    {
                        title: '皮爾森數據',
                        img: 'static/img/Pearson.jpg',
                        url: 'Pearson/templates/index.html',
                        core: 'Bootstrap、jQuery',
                        plugins: 'GSAP、D3',
                        spec: '自製地圖縮放與互動',
                    },
                    {
                        title: 'Platform A',
                        img: 'static/img/PlatformA.PNG',
                        url: 'PlatformA/index.html',
                        core: 'Bootstrap、jQuery、Vue',
                        plugins: '無',
                        spec: '模擬場景放置畫作',
                    },
                    {
                        title: '台北國際乳癌研討會',
                        img: 'static/img/TIBCS2020.jpg',
                        url: 'TIBCS2020/templates/index.html',
                        core: 'Bootstrap、jQuery',
                        plugins: '無',
                        spec: '首頁、Exhibition 切圖',
                    },
                ])

                const otherWorks = reactive( [
                    { name: '台灣癌症聯合學術年會 (TJCC)', link: '' },
                    { name: '中華民國美容醫學醫學會 (CSCSM)', link: '' },
                    { name: '生物醫學聯合學術年會 (JACBS)', link: '' },
                    { name: '台灣乳房醫學會 (TIBCS)', link: '' },
                    { name: '中華牙醫學會 (ADS)', link: '' },
                    { name: '生活驚嘆號', link: '' },
                    { name: 'HangoutWith (交友網站)', link: '' },
                    { name: 'NCDR Line活動頁面', link: '' },
                    { name: 'STPI 知識服務平台', link: '' },
                    { name: 'STPI 科產平台', link: '' },
                    { name: 'STPI 科創平台', link: '' },
                    { name: 'STPI 計畫管考系統', link: '' },
                    { name: '老師好! 樂齡課程人力媒合平台', link: '' },
                    { name: '典亮基金會', link: 'https://www.dianliang.org.tw/' },
                    { name: '常在法律事務所', link: 'https://www.tsartsai.com.tw/index' },
                    { name: '教育實踐研究計畫成果交流平台', link: 'https://tpr.moe.edu.tw/achievement/' },
                    { name: '雲豹 - 沙崙基地訪客預約系統', link: 'https://visitor.secpaas.org.tw/rental' },
                    { name: '表演藝術評論台 (特色作品)', link: 'https://pareviews.ncafroc.org.tw/' },
                    { name: '國藝會 - 國家文藝獎 (特色作品)', link: 'https://www.ncafroc.org.tw/artsaward/index' },
                ])
                
                const monthsToYearString = ( num ) => {
                    if ( num < 12 ){ return num + '月' }
                    return (num / 12).toFixed(0) + '年' 
                }

                const monthsToYear = ( num ) => {
                    return (num / 12).toFixed(1)
                }

                const objectSameKeysToArray = ( array ) => {
                    let obj = {}
                    array.forEach( e => {
                        for (let [key,val] of Object.entries(e) ){
                            if ( !obj[key] ){
                                obj[key] = []
                            }
                            obj[key].push(val) 
                        }
                    })
                    return obj
                }

                return {
                    age,
                    skills,
                    works,
                    otherWorks,
                    monthsToYearString,
                    monthsToYear,
                    objectSameKeysToArray,
                }
            }
        }

        Vue.createApp(App).mount('#wrap')

    </script>
</body>
</html>