<header>
    <nav id="header-nav" class="container-fluid navbar navbar-expand-lg">
        <div id="header-bgBox" class="bgBox d-lg-none">
            <div class="bg"></div>
        </div>

        <div id="header-logoEn">
            <a href="index.html">
                <img src="/myProjects/NAFA/static/common/img/navs/logo-en.png" width="300" class="d-none d-lg-block" alt="NATIONAL AWARD FOR ARTS">
                <img src="/myProjects/NAFA/static/common/img/navs/logo-en320.png" width="50" class="d-lg-none" alt="NATIONAL AWARD FOR ARTS">
            </a>
        </div>

        <div id="header-logoTw">
            <a href="index.html">
                <img src="/myProjects/NAFA/static/common/img/navs/logo-tw.png" width="146" alt="國家文藝獎">
            </a>
        </div>

        <button id="menu-toggler" type="button" class="btn navbar-toggler collapsed ms-4" data-bs-target="#menu-collapse" data-bs-toggle="collapse">
            <img src="/myProjects/NAFA/static/common/img/icon/menu.png" width="32">
        </button>

        <div id="menu-collapse" class="collapse navbar-collapse">
            <div class="header_menu">
                <ul class="menu_close navbar-nav d-lg-none">
                    <li class="nav-item ms-auto">
                        <button type="button" class="btn navbar-toggler collapsed px-0" data-bs-target="#menu-collapse" data-bs-toggle="collapse">
                            <img src="/myProjects/NAFA/static/common/img/icon/close.png" width="32">
                        </button>
                    </li>
                </ul>
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">最新消息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">關於國家文藝獎</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="winner.html">歷屆得主</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">中 <span class="ff-Noto_Sans_TC fw-normal" style="letter-spacing: 0;">EN</span></a>
                    </li>
                </ul>
                <div class="d-lg-none mt-auto pt-2 pb-5">
                    <img src="/myProjects/NAFA/static/common/img/navs/NAT_grey.png">
                </div>
            </div>
        </div>
    </nav>
</header>