<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="/myProjects/Yee/static/common/img/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <!-- core -->
    <script src="/myProjects/Yee/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <link href="/myProjects/Yee/static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>
    
    <!-- plugins -->
    <link href="/myProjects/Yee/static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/plugins/svg-inject-v1.2.3/svg-inject.min.js"></script>
    <link href="/myProjects/Yee/static/plugins/swiper-6.3.4/swiper-bundle.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/plugins/swiper-6.3.4/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js"></script>

    <!-- main -->
    <link href="/myProjects/Yee/static/common/css/simplify.css" rel="stylesheet">
    <link href="/myProjects/Yee/static/common/css/main.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/common/js/main.js"></script>
</head>
<body>
    <div class="wrap">
        <header><script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script></header>
    
        <main>
            <div class="main_title f-h1">關於我們</div>
            <hr />
            <div class="container-xl">
                <div class="container_800 f-p py_18 px-sm-3 py_sm_60">
                    我們決定，把看表演這件事，認真當回事來做。<br>
                    <br>
                    長久以來─也說不清多長多久，總之跟年紀有關─我們絡繹於途，鑽竄於街路車陣之間，掩映於月光星影之下，趕著一場又一場在眼前發生、歷經與結束的現場演出。無以數計的格言、親眼所見所聞都證實著：表演藝術稍縱即逝，它是一門「熱衷於消逝的藝術」，一旦開始，就成為過去。我們（觀眾）的見證是作品發生與存有的重要意義；除此之外，影像紀錄、物件檔案、聲音錄製，乃至垃圾積留，剛剛或有的騷動或冷淡，人去樓空的表演區裡的味道、幻影、殘響，在時間的流速推進下，事實上與剛剛那個「作品」偏離了。<br>
                    <br>
                    然而，我們也不是只表彰「在現場」的現身意義。一個作品，閱讀的方式與角度偌多；離開了現場，重新回味、反芻、流連，現場剛剛發生的互動反應，微妙的漫延開來。<br>
                    <br>
                    於是，我們展開記憶，以書寫，以文字。不僅是向剛剛的作品言說我們的感受，貪嗜地獵攫、狂喜地展示我們的收穫，更是向作品展示「我」，我存在於某個時空下，如鏡花水月，與作品互相凝視的我。<br>
                    <br>
                    你，我，大家，都可以是這樣的顯影著。這裡，光影綽綽，歡迎瀏覽。但要說明的是，這裡公開的文字並不是作品形象、細節的覆述。是的，我們每個人看戲有自己的方法與品味─這與階級、意識型態、文化背景、身心狀態、時間空間、票價高低都有關。既然我們是演出觀眾席裡的老屁股，我們總有要說的話就有「占位」的嫌疑與高度被容忍性，我們有點老，有點不老，我們不獨裁，但可能寡情，我們不刻薄，但絕不放縱，人情世故的練達與偽真不是我們的宗旨，寫得好或寫得不好都比不上我有話要說來得首要。<br>
                    <br>
                    法國文化／文學批評家羅蘭巴特曾這麼說：<br>
                    <br>
                    評論家自許是作家的抱負，而不是奢望具有作家資格；評論家不圖眾人同意他有「見解」或「風格」，僅希望大家承認他有某種發言權，而其語言則是一間接語言。<br>
                    <br>
                    評論家乃是作家，但是個處於暫緩狀態的作家；一如作家，他由衷希望眾人相信的不是他所寫的東西，而是他那份要寫的決心。<br>
                    <br>
                    表演藝術評論台，歡迎光臨！<br>
                    <br>
                    本網站採取「駐站評論員」、「特約評論人」、「專欄作者」三種身分，分別分擔不同的評論視角與工作。「駐站評論員」採輪值方式，原則上，各項表演領域每季邀請二至三位評論人，負責當週即時評論工作。「特約評論人」為彌補駐站評論員無法顧及的演出活動。「專欄作家」邀請資深評論人就演出活動、生態觀察面向撰稿。三種身分，希望能兼顧評論工作的廣度與深度；三種身分也可以彼此輪換，轉換工作角色與評論視角。<br>
                    <br>
                    此外，我們開放即時與方便性的投稿評論、線上投票與意見留言，希望透過廣泛的互動，邀請更多「讀者」、「觀眾」參與此一評論園地的經營。<br>
                    <br>
                    評論對象限定為正式演出場次的公開說明<br>
                    <br>
                    1、 評論對象為國內公開演出之作品，此「公開」不僅意謂演出者主動邀請觀眾參與，亦意謂演出者與觀眾處於一公開的對話關係與位置，此時，所有觀眾──包括評論人──基本上擁有相同的觀賞權益，並且遵守共同的劇場規則。<br>
                    <br>
                    2、 彩排場或非正式演出場，由演出者定義並決定其呈現方式；多數時候，彩排場或非正式演出場並不納入上述為觀眾普遍認知的「公開」行程，故其開放對象也由演出者決定與定義。由於演出者設定的彩排場或非正式演出場邀請對象並不固定，基於公平、公開與普遍原則，評論台採一般大眾皆可參與的正式演出場為評論對象限制條件，此不僅基於評論人與一般觀眾共有之相同基礎，也基於尊重演出者對「公開」演出的承諾與規範。<br>
                    <br>
                    3、 評論作為討論作品的書寫方式，也同時具有「公開性」的承諾與原則，評論內容的露出已彰顯其公開性，評論人參與方式亦成為其書寫內容被檢驗、再評論的基礎說明之一；此之所以評論文章必須注明觀賞場次，以示對評論內容負責，並成為參考要件之一。評論對象限定於公開場次，因此不僅基於所有參與觀眾可共同討論文章內容的基礎，亦基於評論人對「公開性」的承諾。<br>
                    <br>
                    4、 國內目前並未有「評論場」風氣，演出者邀請評論人於正式演出前觀賞演出並做出評論，此一作法並不普遍，也未公開化。然而，演出者仍具有開放與否的權力，此一決定權屬於演出者，評論台目前尚無任何建議。<br>
                    <br>
                    5、評論台開台宗旨旨在鼓勵對話風氣，提倡評論書寫與態度，希望為瞬間流逝的表演藝術提供紀錄、對話、評論園地，以反饋創作，並開展觀賞風氣，建立更多論述。因此，具有即時特色的當週評論與投稿評論，希望能以「在劇場」──與所有共同參與觀眾處同一時空條件下，同步關照台灣表演藝術發生與進行狀態，此為表演藝術評論台目前設定的立場──當然也可視為侷限。就評論而言，即時、在場評論只是評論型式之一，本台另闢【觀點專欄】、【企畫焦點】即希望提供更廣泛面向的深度評論，深化評論書寫與風氣。
                </div>
            </div>
            <hr />
        </main>

        <div id="modal"><script>$.get('include/modal.html', (res)=>{ $('#modal')[0].outerHTML=res } )</script></div>
        <footer><script>$.get('include/footer.html', (res)=>{ $('footer')[0].outerHTML=res } )</script></footer>
    </div>

    <script>
    </script>
</body>
</html>