<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="/myProjects/Yee/static/common/img/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <!-- core -->
    <script src="/myProjects/Yee/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <link href="/myProjects/Yee/static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>
    
    <!-- plugins -->
    <link href="/myProjects/Yee/static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/plugins/svg-inject-v1.2.3/svg-inject.min.js"></script>
    <link href="/myProjects/Yee/static/plugins/swiper-6.3.4/swiper-bundle.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/plugins/swiper-6.3.4/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js"></script>

    <!-- main -->
    <link href="/myProjects/Yee/static/common/css/simplify.css" rel="stylesheet">
    <link href="/myProjects/Yee/static/common/css/main.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/common/js/main.js"></script>
</head>
<body>
    <div class="wrap">
        <header><script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script></header>
    
        <main>
            <div class="main_title f-h1">註冊</div>
            <hr />
            <div class="container-xl">
                <div class="container_600">
                    <form class="tab-content">
                        <div id="step-1" class="formBox tab-pane fade show active">
                            <div class="mb_60">
                                <div class="f-cap">STEP 1</div>
                                <div class="f-h3">帳號資訊</div>
                            </div>
                            <div class="ch_mb_4 mb_60">
                                <div>
                                    <div class="formBox--label required">帳號 (Email)</div>
                                    <input type="email" class="form-control">
                                </div>
                                <div>
                                    <div class="formBox--label required">聯絡電話</div>
                                    <input type="tel" class="form-control">
                                </div>
                                <div>
                                    <div class="formBox--label required">密碼</div>
                                    <input type="password" class="form-control">
                                    <div class="formBox--note f-p">可用大小寫英文、數字及特殊符號，最少 8 碼。</div>
                                </div>
                                <div>
                                    <div class="formBox--label required">確認密碼</div>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                            <div class="nav justify-content-end">
                                <button type="button" class="btn btn_dark w-100 w-sm-auto" data-bs-target="#step-2" onclick="nextStep(this)">下一步</button>
                            </div>
                        </div>

                        <div id="step-2" class="formBox tab-pane fade">
                            <div class="mb_60">
                                <div class="f-cap">STEP 2</div>
                                <div class="f-h3">公開資訊</div>
                                <div class="f-p c_darkgray">所有人都可以在網站上看到以下資訊。</div>
                            </div>
                            <div class="ch_mb_4 mb_60">
                                <div>
                                    <div class="formBox--label required">姓名</div>
                                    <input type="text" class="form-control">
                                </div>
                                <div>
                                    <div class="formBox--label required">個人照片</div>
                                    <div class="d-flex flex-column flex-sm-row pt-3 ch_mb_3">
                                        <div class="me-sm-4">
                                            <div id="avatar" class="avatar img_full" style="background-image: url(/myProjects/Yee/static/common/img/Avatar.png);"></div>
                                        </div>
                                        <div class="ch_mb_3">
                                            <label class="btn btn_outline w-100 w-sm-auto">
                                                <input type="file" hidden onchange="upload_To_Change_Image(this,'#avatar','#avatar_base64')">
                                                <textarea id="avatar_base64" name="avatar_base64" hidden></textarea>
                                                <img src="/myProjects/Yee/static/common/img/icon/Upload.png">上傳相片
                                            </label>
                                            <div>請上傳 JPG、JPEG 或 PNG 格式圖片，建議尺寸 724*724 像素。</div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="formBox--label required">簡介</div>
                                    <textarea class="form-control" rows="6"></textarea>
                                    <div class="formBox--note f-p">500字以內</div>
                                </div>
                                <div>
                                    <div class="formBox--label">聯絡Email</div>
                                    <input type="email" class="form-control">
                                </div>
                                <div>
                                    <div class="formBox--label">Facebook</div>
                                    <input type="text" class="form-control">
                                </div>
                                <div>
                                    <div class="formBox--label">個人網站</div>
                                    <div class="ch_mb_3">
                                        <input type="text" class="form-control">
                                        <input type="text" class="form-control">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-sm-row justify-content-between">
                                <button type="button" class="btn btn_dark w-100 w-sm-auto" onclick="formSubmit()">送出</button>
                                <div class="order-sm-first nav">
                                    <button type="button" class="btn w-100 w-sm-auto" data-bs-toggle="tab" data-bs-target="#step-1" onclick="$(this).removeClass('active')">上一步</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <hr />
        </main>

        <div id="modal"><script>$.get('include/modal.html', (res)=>{ $('#modal')[0].outerHTML=res } )</script></div>
        <footer><script>$.get('include/footer.html', (res)=>{ $('footer')[0].outerHTML=res } )</script></footer>
    </div>

    <script>
        /**
         * 使用<input type="file">上傳圖片時，將其轉為base64，並使用background-image預覽之。
         * @param {string} inputTarget <input type="file" onchange="thisFunction">
         * @param {string} layoutTarget PreviewImage with background-image
         * @param {string} textareaTarget Save Base64 in <textarea>
         */
        function upload_To_Change_Image( inputTarget, layoutTarget, textareaTarget ) {
            if (inputTarget.files && inputTarget.files[0]) {
                let reader = new FileReader()

                console.log( '圖片大小：' + inputTarget.files[0].size + '位元組', '圖片類型：' + inputTarget.files[0].type )

                reader.onload = function(evt){
                    $( layoutTarget ).css( 'background-image', `url(${this.result})`)
                    $( textareaTarget ).text( this.result )
                }
                reader.readAsDataURL(inputTarget.files[0])
            }
        }

        function nextStep(This){
            // 檢查Step1...
            
            if ( true ){ // 顯示下一步頁面
                var tab = new bootstrap.Tab( $(This)[0] )
                tab.show()
                $(This).removeClass('active')
            }
        }

        function formSubmit(){
            // 檢查Step1...
            // 檢查Step2...

            if ( true ){
                _alert('success', '註冊成功', function(){ location.href='login.html' })
            } else {
                // 假如不通過，想用alert顯示，以下參考:
                _alert('','帳號已重複<br>圖片大小過大')
            }
        }
    </script>
</body>
</html>