<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="/myProjects/Yee/static/common/img/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <!-- core -->
    <script src="/myProjects/Yee/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <link href="/myProjects/Yee/static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>
    
    <!-- plugins -->
    <link href="/myProjects/Yee/static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/plugins/svg-inject-v1.2.3/svg-inject.min.js"></script>
    <link href="/myProjects/Yee/static/plugins/swiper-6.3.4/swiper-bundle.min.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/plugins/swiper-6.3.4/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js"></script>

    <!-- main -->
    <link href="/myProjects/Yee/static/common/css/simplify.css" rel="stylesheet">
    <link href="/myProjects/Yee/static/common/css/main.css" rel="stylesheet">
    <script src="/myProjects/Yee/static/common/js/main.js"></script>
</head>
<body>
    <div class="wrap">
        <header><script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script></header>
    
        <main>
            <div class="main_title f-h1">搜尋: 梁家綺</div>

            <div class="container-xl">
                <div class="mainTab">
                    <div class="mb-3">
                        <!-- PC -->
                        <div class="_tab d-none d-lg-flex">
                            <a class="btn btn_tab1 active" href="search.html?param=comment">評論 (3)</a>
                            <a class="btn btn_tab1" href="search.html?param=subject">專題 (3)</a>
                            <a class="btn btn_tab1" href="search.html?param=podcast">影視音 (3)</a>
                        </div>
                        <!-- Mobile -->
                        <div class="_tab d-lg-none">
                            <select class="form-control" onchange="window.location.href='search.html?param='+$(this).val()">
                                <option value="comment" selected>評論 (3)</option>
                                <option value="subject">專題 (3)</option>
                                <option value="podcast">影視音 (3)</option>
                            </select>
                        </div>
                    </div>

                    <div js-url-param="comment" class="mb-3">
                        <div class="row g-3 g-xl-4 justify-content-center">
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option value="" selected>全部</option>
                                    <option value="">音樂</option>
                                    <option value="">戲曲</option>
                                    <option value="">戲劇</option>
                                    <option value="">舞蹈</option>
                                    <option value="">非特定</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option value="" selected>所有年份</option>
                                    <option value="">2021</option>
                                    <option value="">2020</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option value="" selected>所有月份</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div js-url-param="subject" class="mb-3">
                        <div class="row g-3 g-xl-4 justify-content-center">
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option value="" selected>所有年份</option>
                                    <option value="">2021</option>
                                    <option value="">2020</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option value="" selected>所有月份</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div js-url-param="podcast+video" class="mb-3">
                        <div class="row g-3 g-xl-4 justify-content-center">
                            <div class="col-lg-4">
                                <select class="form-control" onchange="window.location.href='search.html?param='+$(this).val()">
                                    <option value="podcast" selected>podcast</option>
                                    <option value="video">video</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option value="" selected>所有年份</option>
                                    <option value="">2021</option>
                                    <option value="">2020</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option value="" selected>所有月份</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="container-xl">
                <div js-url-param="comment">
                    <div class="row gx-3 gx-xl-4">
                        <div class="col-md-6 col-lg-4" js-html-repeat="15">
                            <div class="cardBox">
                                <div class="cardBox--img img_full flex_center hover_fadeIn" style="background-image: url(https://picsum.photos/900/600);">
                                    <div js-device="pc" class="js-follow-cursor-container">
                                        <div class="js-follow-cursor">
                                            <a href="comment-detail.html" class="btn btn_circle hover_fadeIn--item">深入了解</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="cardBox--body">
                                    <div class="cardBox--text">
                                        <div class="f-cap"><a class="alink" href="character-detail.html">梁家綺</a></div>
                                        <div class="f-h3 text-more-2 cardBox--title-height"><a class="alink" href="comment-detail.html">讓台灣擁抱世界•讓世界聽見台灣—台灣音樂新風貌從2017-2019年創作</a></div>
                                        <div class="f-p text-more-3 cardBox--desc-height">權力究為何物？是有權者與無權者之間往復著亙古不變的階級鬥爭，還是有權者－無權者循環之中，有力奪力奪</div>
                                    </div>
                                    <div class="cardBox--date">
                                        <div class="dateBox_mDy mx-auto">
                                            <div>DEC</div>
                                            <div>26</div>
                                            <div>2020</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cardBox--foot">
                                    <div class="tagBox cardBox--tags-height">
                                        <a class="tag_lv1" href="search.html?param=comment">戲劇</a>
                                        <a class="tag_lv2" href="search.html?param=comment">投稿</a>
                                        <a class="tag_lv2" href="search.html?param=comment">極短評</a>
                                        <a class="tag_lv2" href="search.html?param=comment">海外演評</a>
                                        <a class="tag_lv2" href="search.html?param=comment">線上</a>
                                    </div>
                                    <div>
                                        <i class="fas fa-eye"></i>
                                        <span>999</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div js-url-param="subject" class="">
                    <div class="row gx-3 gx-xl-4">
                        <div class="col-12 col-sm-6 col-lg-4" js-html-repeat="5">
                            <div class="cardBox">
                                <div class="cardBox--img img_full flex_center hover_fadeIn" style="background-image: url(https://picsum.photos/900/600);">
                                    <div js-device="pc" class="js-follow-cursor-container">
                                        <div class="js-follow-cursor">
                                            <a href="subject-detail1.html" class="btn btn_circle hover_fadeIn--item">深入了解</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="cardBox--body">
                                    <div class="cardBox--text">
                                        <div class="f-h3 text-more-2">讓台灣擁抱世界•讓世界聽見台灣—台灣音樂新風貌從2017-2019年創作</div>
                                        <div class="f-p text-more-3">權力究為何物？是有權者與無權者之間往復著亙古不變的階級鬥爭，還是有權者－無權者循環之中，還是有權者－無權者循環之中，有力奪力奪</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div js-url-param="podcast" class="container_800">
                    <div class="row g-3 g-xl-4 pt-4 all_iframe_block">
                        <div class="col-12" js-html-repeat="5">
                            <iframe src="https://open.spotify.com/embed/episode/77yqTl36sOZBP7hQt3JUWK?theme=0" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        </div>
                    </div>
                </div>

                <div js-url-param="video">
                    <div class="row g-3 g-xl-4 pt-4 all_iframe_block">
                        <div class="col-12 col-sm-6 col-lg-4" js-html-repeat="12">
                            <div class="ratio ratio-3x2">
                                <iframe src="https://www.youtube.com/embed/t8yb8AMX9Fg" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                            </div>
                            <div class="py-3 ch_mb_3">
                                <a href="#" class="alink f-h3 text-more-3">雲林五洲小桃源掌中劇團《天雷針》雲林五洲小桃源掌中劇團。雲林五洲小桃源掌中劇團《天雷針》雲林五洲小桃源掌中劇團。</a>
                                <div class="f-cap pt-2">白斐嵐、紀慧玲</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
        </main>

        <div id="modal"><script>$.get('include/modal.html', (res)=>{ $('#modal')[0].outerHTML=res } )</script></div>
        <footer><script>$.get('include/footer.html', (res)=>{ $('footer')[0].outerHTML=res } )</script></footer>
    </div>

    <script>
    </script>
</body>
</html>