<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- core -->
    <script src="/myProjects/NAFA/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <link href="/myProjects/NAFA/static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/myProjects/NAFA/static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>

    <!-- plugins -->
    <link href="/myProjects/NAFA/static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
    <script src="/myProjects/NAFA/static/plugins/svg-inject-v1.2.3/svg-inject.min.js"></script>
    <link href="/myProjects/NAFA/static/plugins/Swiper-6.8.4/swiper-bundle.min.css" rel="stylesheet">
    <script src="/myProjects/NAFA/static/plugins/Swiper-6.8.4/swiper-bundle.min.js"></script>

    <!-- main -->
    <link href="/myProjects/NAFA/static/common/css/bootstrap-extra.css" rel="stylesheet">
    <link href="/myProjects/NAFA/static/common/css/simplify.css" rel="stylesheet">
    <link href="/myProjects/NAFA/static/common/css/main.css" rel="stylesheet">
    <script src="/myProjects/NAFA/static/common/js/main.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="bgSection">
            <script>$.get('include/bg.html', (res)=>{ $('#bgSection')[0].outerHTML=res; } )</script>
        </div>

        <header>
            <script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script>
        </header>

        <main>
            <div class="container-fluid">
                <div class="position-relative">
                    <div class="awardeeSection">
                        <div class="awardeeSection--txt">
                            <div class="mb-sm-5">
                                <div class="me-2">
                                    <div class="_title">第二十一屆獲獎藝術家</div>
                                    <div class="_name">柯金源</div>
                                </div>
                                <div class="_pro text-end">紀錄片導演<br>Documentary<br>Director</div>
                            </div>
                            <div>
                                <div class="_nameEn">KE <br class="d-none d-lg-block">CHIN-YUAN</div>
                            </div>
                        </div>
                        <div class="max_w_470 w-sm-100 ms-sm-auto ps-lg-3">
                            <div class="ratio ratio-1x1 img" style="background-image: url(https://picsum.photos/600)"></div>
                        </div>
                    </div>

                    <a class="detailTitle img_text" data-bs-toggle="collapse" href="#collapse-1"><span>得獎理由</span><img src="/myProjects/NAFA/static/common/img/icon/more.svg" style="transform: rotateZ(90deg)"></a>
                    <div class="row pt-1 pt-sm-0 collapse show" id="collapse-1">
                        <div class="offset-md-3 col-md-9 offset-lg-4 col-lg-8 offset-xl-6 col-xl-6 f-h5 pb-5">
                            林淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。 姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            林淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。 姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            林淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。 姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                        </div>
                    </div>

                    <a class="detailTitle img_text" data-bs-toggle="collapse" href="#collapse-2"><span>得主介紹</span><img src="/myProjects/NAFA/static/common/img/icon/more.svg" style="transform: rotateZ(90deg)"></a>
                    <div class="row pt-1 pt-sm-0 collapse" id="collapse-2">
                        <div class="offset-md-3 col-md-9 offset-lg-4 col-lg-8 offset-xl-6 col-xl-6 f-h5 pb-5">
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                        </div>
                    </div>

                    <a class="detailTitle img_text" data-bs-toggle="collapse" href="#collapse-3"><span>得主感言</span><img src="/myProjects/NAFA/static/common/img/icon/more.svg" style="transform: rotateZ(90deg)"></a>
                    <div class="row pt-1 pt-sm-0 collapse" id="collapse-3">
                        <div class="offset-md-3 col-md-9 offset-lg-4 col-lg-8 offset-xl-6 col-xl-6 f-h5 pb-5">
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                        </div>
                    </div>

                    <a class="detailTitle img_text" data-bs-toggle="collapse" href="#collapse-4"><span>得主動態</span><img src="/myProjects/NAFA/static/common/img/icon/more.svg" style="transform: rotateZ(90deg)"></a>
                    <div class="row pt-1 pt-sm-0 collapse" id="collapse-4">
                        <div class="offset-md-3 col-md-9 offset-lg-4 col-lg-8 offset-xl-6 col-xl-6 f-h5 pb-5">
                            <ul>
                                <li>
                                    <div class="f-h5">2021-10-01</div>
                                    <a href="news-detail.html?param=winner" class="fw-bold text-decoration-underline">
                                        姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="f-h5">2021-12-25</div>
                                    <a href="news-detail.html?param=winner" class="fw-bold text-decoration-underline">
                                        姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <a class="detailTitle img_text" data-bs-toggle="collapse" href="#collapse-5"><span>藝術家素描</span><img src="/myProjects/NAFA/static/common/img/icon/more.svg" style="transform: rotateZ(90deg)"></a>
                    <div class="row pt-1 pt-sm-0 collapse" id="collapse-5">
                        <div class="offset-md-3 col-md-9 offset-lg-4 col-lg-8 offset-xl-6 col-xl-6 f-h5 pb-5">
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                        </div>
                    </div>

                    <a class="detailTitle img_text" data-bs-toggle="collapse" href="#collapse-6"><span>作品簡介</span><img src="/myProjects/NAFA/static/common/img/icon/more.svg" style="transform: rotateZ(90deg)"></a>
                    <div class="row pt-1 pt-sm-0 collapse" id="collapse-6">
                        <div class="offset-md-3 col-md-9 offset-lg-4 col-lg-8 offset-xl-6 col-xl-6 f-h5 pb-5">
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                        </div>
                    </div>

                    <a class="detailTitle img_text" data-bs-toggle="collapse" href="#collapse-7"><span>記事</span><img src="/myProjects/NAFA/static/common/img/icon/more.svg" style="transform: rotateZ(90deg)"></a>
                    <div class="row pt-1 pt-sm-0 collapse" id="collapse-7">
                        <div class="offset-md-3 col-md-9 offset-lg-4 col-lg-8 offset-xl-6 col-xl-6 f-h5 pb-5">
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                            姚淑芬以女性細膩的觀察視角、豐富的肢體語彙，營造幻化的舞蹈意象，創造多元而獨特的藝術風格，作品深入人心，展現雋永的美學高度。長期深耕台灣舞蹈環境，關懷社會多層面的議題。積極與國際連結，打造舞蹈創作平台，提高台灣國際能見度。
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
        </main>

        <footer>
            <script>$.get('include/footer.html', (res)=>{ $('footer')[0].outerHTML=res } )</script>
        </footer>
    </div>
</body>
</html>