<footer>
    <div class="_footer">
        <div class="container _footer-padding">

            <div class="d-none d-lg-block _toTop">
                <img onclick="_toTop()" src="/myProjects/TTLF/static/common/img/icon/icon_top.png">
            </div>

            <div class="row jc-sb">
                <div class="order-last col-12 order-xl-first col-xl-4">
                    <div class="text-center py-2">
                        <img class="mb-3 w-100" src="/myProjects/TTLF/static/common/img/logo/logo-line.png" style="max-width: 302px;">
                        <div class="mb-3 d-flex jc-c">
                            <a class="px-2">– 聯絡我們</a>
                            <a class="px-2">– 常在相關訊息</a>
                            <a class="px-2">– 公益活動</a>
                        </div>
                        <div class="fz-12">Copyright 2020 常在國際法律事務所  All Rights Reserved</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 d-flex jc-c mb-4 mb-xl-0">
                    <div class="_postcard">
                        <div class="_postcard-title">台北本所</div>
                        <table class="_table-form _table-va-t">
                            <tr>
                                <td class="_c-d9c7b1">地　址</td>
                                <td>台北市11073信義區松仁路100號11樓
                                    <a href="https://g.page/TsarTsai?share"><img src="/myProjects/TTLF/static/common/img/icon/icon_map.png" class="ml-1 mb-1"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="_c-d9c7b1">E-mail</td>
                                <td>Law@tsartsai.com.tw</td>
                            </tr>
                            <tr>
                                <td class="_c-d9c7b1">電　話</td>
                                <td><span class="us-a">886-2-66386999</span> or <span class="us-a">27814111</span></td>
                            </tr>
                            <tr>
                                <td class="_c-d9c7b1">傳　真</td>
                                <td><span class="us-a">886-2-27213834</span> or <span class="us-a">27315581</span></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 d-flex jc-c mb-4 mb-xl-0">
                    <div class="_postcard">
                        <div class="_postcard-title">新竹分所</div>
                        <table class="_table-form _table-va-t">
                            <tr>
                                <td class="_c-d9c7b1">地　址</td>
                                <td>新竹市新竹科學園區力行一路1號3樓A6
                                    <a href="https://goo.gl/maps/nidLJzFyT2DgcKh88"><img src="/myProjects/TTLF/static/common/img/icon/icon_map.png" class="ml-1 mb-1"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="_c-d9c7b1">E-mail</td>
                                <td>Law@tsartsai.com.tw</td>
                            </tr>
                            <tr>
                                <td class="_c-d9c7b1">電　話</td>
                                <td><span class="us-a">886-3-563-3999</span></td>
                            </tr>
                            <tr>
                                <td class="_c-d9c7b1">傳　真</td>
                                <td><span class="us-a">886-3-577-9965</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>