<header>
    <div class="_header container-fluid">
        <a href="/" class="">
            <img class="_logo" src="/myProjects/TTLF/static/common/img/logo/logo-line.png">
        </a>
        <nav class="d-none d-lg-block">
            <div class="_menu _menu-1">
                <a class="_link" href="about.html">關於常在</a>
                <a class="_link" href="foundation.html">常在法律文教基金會</a>
                <a class="_link" href="publication.html">常在出版品</a>
                <a class="_link" href="information.html"><span class="badge badge-danger mr-1">報名中</span>研討會訊息</a>
                <a class="_link" href="hiring.html">人才招募</a>
                <div class="pos-r">
                    <div class="_link px-2" js-popTarget="#header-language" js-popTarget-mode="toggle">
                        <img src="/myProjects/TTLF/static/common/img/icon/icon_language.svg">
                    </div>

                    <div id="header-language" class="_dropdown" style="top: 100%; right: 0; display: none;">
                        <div class="active">繁體中文</div>
                        <div>ENGLISH</div>
                        <div>简体中文</div>
                        <div>日本語</div>
                    </div>
                </div>
                <a class="_link px-2" js-popTarget="#header-search" js-popTarget-function="$('#header-search').find('input').focus();">
                    <img src="/myProjects/TTLF/static/common/img/icon/icon_search.svg">
                </a>
            </div>
            <div class="_menu _menu-2">
                <a class="_link" href="people.html">專業團隊</a>
                <a class="_link" href="expertise.html">服務領域</a>
                <a class="_link" href="information.html">最新消息</a>
                <a class="_link" href="information.html">成功案例</a>
                <a class="_link" href="information.html">榮耀與肯定</a>
                <a class="_link" href="contactus.html">聯繫我們</a>
            </div>
            <div id="header-search" class="_search-container" style="display: none;">
                <input type="search" class="form-control form-control-lg" placeholder="請輸入關鍵字" style="width: 400px;">
                <a class="btn btn-lg _btn-search" href="search.html"></a>
            </div>
        </nav>
    </div>
</header>