<div id="modal">
    <!-- contactUs Modal -->
    <div class="modal _modal-contactUs fade" id="ContactUsModal" tabindex="-1" role="dialog" aria-labelledby="ContactUsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content _modal-content-contactUs">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="/myProjects/TTLF/static/common/img/icon/icon_delete.png">
                </button>
                <div class="_form">
                    <div class="text-center fz-18">LET'S GET STARTED</div>
                    <table class="_table-form _table-form-padding font-weight-bold my-3">
                        <tr>
                            <td>姓名</td>
                            <td><input class="form-control"></td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td><input class="form-control"></td>
                        </tr>
                        <tr>
                            <td>主題</td>
                            <td><input class="form-control"></td>
                        </tr>
                    </table>

                    <div class="font-weight-bold mb-3">
                        <div class="mb-2">詳細內容</div>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-light _btn-contactUs">送出</button>
                    </div>

                    <table class="_table-form mt-4">
                        <tr>
                            <td><img src="/myProjects/TTLF/static/common/img/icon/icon_phone.png"></td>
                            <td>
                                <table class="_table-form _table-va-t">
                                    <tr class="pb-2">
                                        <td>台北本所</td>
                                        <td>886-2-66386999 or 27814111</tr>
                                    </tr>
                                    <tr>
                                        <td>新竹分所</td>
                                        <td>886-3-563-3999</tr>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>