<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- core -->
    <script src="../static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <link href="../static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>

    <!-- plugins -->
    <link href="../static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
    <script src="../static/plugins/svg-inject-master/dist/svg-inject.min.js"></script>

    <!--### plugins 單頁套用套件 ###-->
    <link href="../static/plugins/swiper-6.8.4/Swiper-bundle.min.css" rel="stylesheet">
    <script src="../static/plugins/swiper-6.8.4/Swiper-bundle.min.js"></script>

    <!-- main -->
    <link href="../static/common/css/simplify.css" rel="stylesheet">
    <link href="../static/common/css/main.css" rel="stylesheet">
    <script src="../static/common/js/main.js"></script>
</head>
<body id="index">
    <div id="wrap">
        <header>
            <script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script>
        </header>
        
        <main class="pb-0">
            <section class="section1">
                <div id="banner" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img_full banner_height" style="background-image: url( https://picsum.photos/1200/600 );">
                                <div class="container-xl h-100 d-flex align-items-sm-center p-5 pt-0">
                                    <div class="container_800 text-center py-4">
                                        <div class="text_bg_svg3 f-h5 mb-3">創意賦能 教育發光</div>
                                        <div class="f-h1 c_white mb-4">計畫成果交流平台</div>
                                        <div class="c_white">教育部教學實踐研究計畫致力於翻轉教學與研究的平行線教育部教學實踐研究計畫致力於翻轉教學與研究的平行線教育部教學實踐研究計畫致力於翻轉教學與研究的平行線；在教學歷程中找到問題結構，從研究成果中反思教學設計；強調教學現場的改變，展現學習成果的提升。</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img_full banner_height" style="background-image: url( https://picsum.photos/1000/600 );">
                                <div class="container-xl h-100 d-flex align-items-sm-center p-5 pt-0">
                                    <div class="container_800 text-center py-4">
                                        <div class="text_bg_svg3 f-h5 mb-3">創意賦能 教育發光</div>
                                        <div class="f-h1 c_white mb-4">計畫成果交流平台</div>
                                        <div class="c_white">教育部教學實踐研究計畫致力於翻轉教學與研究的平行線；在教學歷程中找到問題結構，從研究成果中反思教學設計；強調教學現場的改變，展現學習成果的提升。</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination" style="bottom: 40px"></div>
                </div>
            </section>
            <section class="section2">
                <div class="graffiti1"></div>
                <div class="container-xl pos-r">
                    <div class="container_1000">
                        <div class="paper">
                            <div class="row py-lg-5">
                                <div class="col-md-6 d-flex align-items-center justify-content-center justify-content-md-start mb-3 mb-md-0">
                                    <div class="f-h2 c_primary600">
                                        翻轉高教課室教學<br>
                                        孵化教育創新動能
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    教育部為鼓勵大專教師精進教學，自106年開始推動「大專校院教學實踐研究計畫」，在教師們的努力下，產出許多耀眼的教學實踐成果。從課室教學、場域實作模式，延伸至非學校場域、創新教學等範疇，由於老師們對於教學的熱情，許多堪稱典範的教學模式應 運而生。<br>
                                    <br>
                                    為展現教學實踐研究計畫成果最全面的樣貌，精心策劃成果交流平台，突顯面對學用落差的精進意識、跨域合化的教學策略、傳統與創新的教學方法共構模式、從研究反饋教學等關鍵教學實踐研究元素。同時，精心拍攝「實踐者們」紀錄片，希冀完整呈現教師與學生共同創造出的教學火花，共同感受不一樣的大學教育創新動能！
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section3">
                <div class="graffiti2"></div>
                <div class="container-xl pos-r">
                    <div class="row text-center justify-content-center">
                        <div class="col-12 col-lg mb_40 mb-lg-0">
                            <div class="h-100 d-flex align-items-center justify-content-center justify-content-lg-left">
                                <div class="f-h2 c_primary600">計畫精神與定位</div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-7" style="max-width: 744px;">
                            <div class="video_border1">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section4">
                <div class="graffiti3"></div>
                <div class="container-xl pos-r">
                    <div class="row text-center justify-content-center">
                        <div class="col-12">
                            <div class="main_title main_title_svg4 f-h2 mb-4 mb_sm_40">看看實踐者們怎麼做?</div>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-7 pb_60" style="max-width: 744px; margin-top: -120px;">
                            <div class="video_border1">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/7PoTf1QFHpo"></iframe>
                            </div>
                            <div class="text_bg_svg2 f-h5 mt-3">教學實踐研究案例紀錄片</div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6 col-md-4 pb_60">
                            <div class="video_border2">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/7PoTf1QFHpo"></iframe>
                            </div>
                            <div class="text_bg_svg1 f-h5 mt-3">課室創新的實踐者</div>
                        </div>
                        <div class="col-sm-6 col-md-4 pb_60">
                            <div class="video_border2">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/7PoTf1QFHpo"></iframe>
                            </div>
                            <div class="text_bg_svg1 f-h5 mt-3">行動研究的實踐者</div>
                        </div>
                        <div class="col-sm-6 col-md-4 pb_60">
                            <div class="video_border2">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/7PoTf1QFHpo"></iframe>
                            </div>
                            <div class="text_bg_svg1 f-h5 mt-3">實作場域的實踐者</div>
                        </div>
                        <div class="col-sm-6 col-md-4 pb_60">
                            <div class="video_border2">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/7PoTf1QFHpo"></iframe>
                            </div>
                            <div class="text_bg_svg1 f-h5 mt-3">連結主義的實踐者</div>
                        </div>
                        <div class="col-sm-6 col-md-4 pb_60">
                            <div class="video_border2">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/7PoTf1QFHpo"></iframe>
                            </div>
                            <div class="text_bg_svg1 f-h5 mt-3">翻轉印象的實踐者</div>
                        </div>
                        <div class="col-sm-6 col-md-4 pb_60">
                            <div class="video_border2">
                                <iframe class="d-block w-100 ar_16/10" src="https://www.youtube.com/embed/7PoTf1QFHpo"></iframe>
                            </div>
                            <div class="text_bg_svg1 f-h5 mt-3">活用AI的實踐者</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section5">
                <div class="container-xl pos-r">
                    <div class="main_title f-h2 mb_40">學門績優計畫</div>
                    <div class="row g-4 justify-content-center">
                        <div class="col-12 col-md-8 col-lg-4">
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-plan.svg">通識學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-art.svg">人文藝術及設計學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-math.svg">數理學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-life.svg">民生學門</a>
                        </div>
                        <div class="col-12 col-md-8 col-lg-4">
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-edu.svg">教育學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-earth.svg">社會(含法政)學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-med.svg">醫護學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-uni.svg">[專案]大學社會責任</a>
                        </div>
                        <div class="col-12 col-md-8 col-lg-4">
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-business.svg">商業及管理學門 </a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-eng.svg">工程學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-bio.svg">生技農科學門</a>
                            <a class="btn btn_go_right"><img class="me-3" src="../static/common/img/icon/ic-chart.svg">[專案]技術實作</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div id="modal">
            <script>$.get('include/modal.html', (res)=>{ $('#modal')[0].outerHTML=res } )</script>
        </div>

        <footer>
            <script>$.get('include/footer.html', (res)=>{ $('footer')[0].outerHTML=res } )</script>
        </footer>
    </div>
    <script>
        let banner_options = {
            loop: true,
            speed: 1000,
            watchOverflow: true,
            // effect: "fade",
            autoHeight: true,
            autoplay: {
                delay: 3000,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        }

        if ( $("#banner .swiper-slide").length == 1 ) {
            banner_options.loop = false
        }

        let banner = new Swiper("#banner", banner_options )
        $('#banner').on('mouseleave', function() {
            banner.autoplay.start()
        })
    </script>
</body>
</html>