<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- core -->
    <script src="../static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <link href="../static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>
    
    <!-- plugins -->
    <link href="../static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
    <script src="../static/plugins/svg-inject-master/dist/svg-inject.min.js"></script>

    <!-- main -->
    <link href="../static/common/css/simplify.css" rel="stylesheet">
    <link href="../static/common/css/main.css" rel="stylesheet">
    <script src="../static/common/js/main.js"></script>
</head>
<body data-bs-spy="scroll" data-bs-target="#sideTab" data-bs-offset="0" tabindex="0">
    <div id="wrap">
        <header>
            <script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script>
        </header>
        
        <main>
            <div class="container-xl">
                <div class="paper">
                    <div class="ink_title mb_40">110年度 通識(含體育)學門</div>
                    <h1 class="main_title mb_40 f-h1">「全球在地化」為「時尚英文」課程設計導向之教學實踐研究：以元智大學為例</h1>

                    <div class="row gy-3 gx-4">
                        <div class="col-md-4 profile_left_col">
                            <div class="img_full ar_1/1" style="background-image: url( https://picsum.photos/600/600 );"></div>
                        </div>
                        <div class="col-md">
                            <table class="profile_table">
                                <tr>
                                    <td class="f-h6">計畫主持人</td>
                                    <td>曾明生　講師</td>
                                </tr>
                                <tr>
                                    <td class="f-h6">服務系所</td>
                                    <td>國立臺灣師範大學　體育學系</td>
                                </tr>
                                <tr>
                                    <td class="f-h6">配合課程</td>
                                    <td>體育(現代舞初級)</td>
                                </tr>
                                <tr>
                                    <td class="f-h6">檔案下載</td>
                                    <td>
                                        <a href="#" class="alink download">計畫成果報告</a><br>
                                        <a href="#" class="alink download">計畫簡報</a>
                                    </td>
                                </tr>
                            </table>
                            <div class="d-flex flex-wrap mt-3 mt-sm-4">
                                <a href="plan.html" class="btn btn_tag f-btn">現代舞</a>
                                <a href="plan.html" class="btn btn_tag f-btn">體育</a>
                                <a href="plan.html" class="btn btn_tag f-btn">舞蹈舞蹈</a>
                                <a href="plan.html" class="btn btn_tag f-btn">行動研究法1</a>
                                <a href="plan.html" class="btn btn_tag f-btn">行動研究法究究法2</a>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4 my_md_40">

                    <div class="d-lg-none mb-3">
                        <select class="form-control" name="section" onchange="window.location.hash = 'section-' + $(this).val()">
                            <option value="1" selected>計畫摘要</option>
                            <option value="2">問題意識</option>
                            <option value="3">研究架構</option>
                            <option value="4">學習成效評量與研究工具</option>
                            <option value="5">執行心得分享</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-md-4 profile_left_col d-none d-lg-block">
                            <div id="sideTab" class="sideTab">
                                <label class="_tab">
                                    <a href="#section-1" class="list-group-item _text">計畫摘要</a>
                                </label>
                                <label class="_tab">
                                    <a href="#section-2" class="list-group-item _text">問題意識</a>
                                </label>
                                <label class="_tab">
                                    <a href="#section-3" class="list-group-item _text">研究架構</a>
                                </label>
                                <label class="_tab">
                                    <a href="#section-4" class="list-group-item _text">學習成效評量與研究工具</a>
                                </label>
                                <label class="_tab">
                                    <a href="#section-5" class="list-group-item _text">執行心得分享</a>
                                </label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="editor_container mb_40">
                                <section id="section-1" class="pt-3 pb-4">
                                    <div class="text_bg_svg1 f-h5 mb-3">計畫摘要</div>
                                    <div>
                                        <p>
                                            本行動研究旨在建置現代舞課程學習評量系統，用以具現學生動作學習之具體成果，並促進教師教學實踐之調整與效益。研究參與者為修習研究者所開授的現代舞初級體育課程的19位大專學生 (男性2名，女性17名)。資料蒐集含括課堂錄影、個人舞蹈創作影像、課後訪談、學習歷程檔案等質性資料，其中個人舞蹈創作採自行發展之觀察評量工具進行評估，其它質性資料則轉譯為文字後以主題分析法和持續比較法加以歸納。<br>
                                            在滿分15分的觀察工具評測下，學生舞蹈 創作表現平均得分為10.39分，兩位評分者間信度達0.785 (p < 0.001)，且學生亦反映經整學期的學習，他們更加認識自己的身體並以動作做表達和展現創意；同時，教師本身則得益於學習評量系統的使用，更能依學生學習的感受、問題及需求，提供適切的回饋與指導，並適時進行教材教法上的再思考與調整。本行動研究支持在體育課中實施合宜的學習評量系統，幫助教師掌握學生學習需求與精進教學實務。<br>
                                        </p>
                                    </div>
                                </section>

                                <section id="section-2" class="pt-3 pb-4">
                                    <div class="text_bg_svg1 f-h5 mb-3">問題意識</div>
                                    <div>
                                        <p>
                                            1.何謂促進學習的現代舞課程體育學習評量系統？<br>
                                            2.導入學習評量系統後，對於學生學習與教師教學的助益為何？<br>
                                            3.在促進學習的評量脈絡下，體育的教與學以何種關係存在？<br>
                                        </p>
                                        <img class="w-100" width="600" src="https://picsum.photos/600/400">
                                    </div>
                                </section>

                                <section id="section-3" class="pt-3 pb-4">
                                    <div class="text_bg_svg1 f-h5 mb-3">研究架構</div>
                                    <div>
                                        <p>本研究所指的學習評量系統為教學過程中，為能更加了解個別學生的學習情形和感受，而設計的學習資訊取得過程與方式。以行動研究方案而言，學習評量系統含括有學習日誌、教學學實以行動研究方案而言，<a href="#">學習歷程檔案</a>以行動研究方案而言，學習評量系統含括有學習日誌。</p>
                                    </div>
                                </section>

                                <section id="section-4" class="pt-3 pb-4">
                                    <div class="text_bg_svg1 f-h5 mb-3">學習成效評量與研究工具</div>
                                    <div>
                                        <h1>“採用校內 Moodle 數位學習平台的作業繳交功能蒐集”</h1>
                                        <p>本研究所指的學習評量系統為教學過程中，為能更加了解個別學生的學習情形和感受，而設計的學習資訊取得過程與方式。以行動研究方案而言，學習評量系統含括有學習日誌、教學實況、舞蹈創作影片及學習歷程檔案等四個部分。</p>
                                        <h2>教學實況</h2>
                                        <div class="row mb-4">
                                            <div class="col-sm-6">
                                                <img class="w-100" src="https://picsum.photos/500/400">
                                            </div>
                                            <div class="col-sm-6">
                                                <img class="w-100" src="https://picsum.photos/500/400">
                                            </div>
                                        </div>
                                        <h3>學習評量系統</h3>
                                        <p>在課程開發之初，邀請教師評估課程目標是否符合醫學生的核心能力（人際關係與溝通技巧、病人照顧、自我及終身學習、醫學專業知識、臨床決斷技決斷技決斷能、科學方法解決問題）</p>
                                        <h4>反思</h4>
                                        <p>在課程開發之初，邀請教師評估課程目標是否符合醫學生的核心能力（人際關係與溝通技巧、病人照顧、自我及終身學習、醫學專業知識、臨床決斷技能、科學方法解決問題）</p>
                                        <h4>學習回饋</h4>
                                        <p>我們參考過外對於急診醫學的學習目標，根據國內醫事人員所需之六大核心價值，與新制六年制醫學系醫學生畢業基本能力之臨床技能評估標準，並探討畢業後一般醫學(PGY)急診醫學訓練內容的銜接，來設計課程主軸與內涵。</p>
                                        <h5>利用不同的教學技巧如翻轉教室、技能操作、擬真教學、與團隊合作的概念，設計合乎現代、串聯在學與在職的能力，建立合乎現代的課程。</h5>
                                    </div>
                                </section>
                                
                                <section id="section-5" class="pt-3 pb-4">
                                    <div class="text_bg_svg1 f-h5 mb-3">執行心得分享</div>
                                    <div>
                                        <iframe class="w-100 ar_16/10" src="https://www.youtube.com/embed/xwyA3_fkGEU" frameborder="0"></iframe>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div id="modal">
            <script>$.get('include/modal.html', (res)=>{ $('#modal')[0].outerHTML=res } )</script>
        </div>

        <footer>
            <script>$.get('include/footer.html', (res)=>{ $('footer')[0].outerHTML=res } )</script>
        </footer>
    </div>

    <script>
        $(function(){
            editor_autoResize_media('.editor_container')
        })
    </script>
</body>
</html>