<div id="modal">
    <div id="alert" class="modal fade">
        <div class="modal-dialog modal_400 modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center p_40">
                    <div class="js-title f-h1 mb-3"></div>
                    <div class="js-content f-h3"></div>
                    <div class="mt_60">
                        <div class="btn btn_dark js-ok" data-bs-dismiss="modal">確認</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="confirm" class="modal fade">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="js-title fs-h1 mb-3"></div>
                    <div class="js-content f-h3"></div>
                    <div class="mt_60 flex_center flex-column">
                        <button type="button" class="js-ok btn btn_dark mb-3">是</button>
                        <button type="button" class="js-no btn btn_outline" data-bs-dismiss="modal">否</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div id="search" class="modal">
        <div class="modal-dialog modal-fullscreen h-auto">
            <div class="modal-content">
                <div class="modal-header container-xl">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn" data-bs-dismiss="modal">
                        <img src="/myProjects/Yee/static/common/img/icon/Menu-close.svg">
                    </button>
                </div>
                <div class="modal-body container-xl">
                    <div class="pos_r">
                        <input type="text" class="form-control" placeholder="請輸入搜尋關鍵字">
                        <a href="/myProjects/Yee/templates/search.html?param=comment" class="btn pos_a loc_6 header-search-btn"><img src="/myProjects/Yee/static/common/img/icon/Search.svg" onload="SVGInject(this)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>