<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jQuery -->
    <script src="/myProjects/TIBCS2020/static/plugins/jQuery-3.5.1/jquery-3.5.1.min.js"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/plugins/bootstrap-4.5.2/css/bootstrap.min.css">
    <script src="/myProjects/TIBCS2020/static/plugins/bootstrap-4.5.2/js/bootstrap.min.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/simplify.css">
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/plugins_modify.css">
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/custom.css">

    <script src="/myProjects/TIBCS2020/static/common/js/custom.js"></script>
</head>
<body>
    <div id="wrap" class="getGift">

        <header>
            <nav class="header_body container navbar navbar-expand-xl">
                <a class="navbar-brand" href="index.html">
                    <img class="d-none d-xxl-block" src="/myProjects/TIBCS2020/static/common/img/LOGO@2x.png">
                    <img class="d-block d-xxl-none" src="/myProjects/TIBCS2020/static/common/img/LOGO320@3x.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_menu" aria-controls="nav_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="aria-expanded-true" src="/myProjects/TIBCS2020/static/common/img/icon/icon_close.png">
                    <img class="aria-expanded-false" src="/myProjects/TIBCS2020/static/common/img/icon/icon_menu.png">
                </button>
            
                <div class="collapse navbar-collapse" id="nav_menu">
                    <ul class="navbar-nav nav_links">
                        <li><a href="speakers.html">Speakers</a></li>
                        <li><a href="lecture_hall.html">Lecture Hall</a></li>
                        <li><a href="poster.html">Poster</a></li>
                        <li><a href="exhibition.html">Exhibition</a></li>
                        <li><a href="information.html">Information</a></li> 
                        <li><a href="survey.html">Survey</a></li>
                        <!-- <li><a href="get_gift.html">Get Gift</a></li> -->
                        <li><a href="login.html" class="c_red cur_p">
                            <img src="/myProjects/TIBCS2020/static/common/img/icon/icon_login.png">
                            <span class="pl_2">Log In</span>
                        </a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="mx-auto" style="max-width: 480px;">
                    <div class="main_title main_title_padding">
                        <h1>Gift Collection</h1>
                        <h2>領取禮品</h2>
                    </div>
                    <div class="getGift_desc">Please complete at least 15 booths tour in the Exhibition to collect gift.<br><b>請於廠商專區，完成15家廠商參觀。</b></div>
                    <div class="getGift_textProgress">Current Progress <b>目前進度</b></div>
                    <div class="progress getGift_progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50" style="width: 50%;"><span>7家</span></div>
                    </div>

                    <div class="getGift_qrCode" style="background-image: url(http://qr.calm9.com/qrcode/Calm9-QRCode-Bookmark.png);"></div>
                </div>
            </div>
            <div class="getGift_giftHand d-none d-lg-block">
                <img class="w-100" src="//myProjects/TIBCS2020/static/common/img/BG_7-3.png">
            </div>
        </main>

        <footer>
            <div class="footer_top">
                <a class="fixed_survey btn flex_center" href="survey.html">
                    <div class="survey_content">
                        <img src="/myProjects/TIBCS2020/static/common/img/icon/icon_Survey.png">
                        <div class="survey_text">
                            <div>Survey</div>
                            <div>問卷調查</div>
                        </div>
                    </div>
                </a>
                <div class="fixed_backToTop btn">
                    <img src="/myProjects/TIBCS2020/static/common/img/top.png">
                </div>
            </div>
            <div class="footer_body container">
                <div class="footer_row1">
                    <div>Taiwan Breast Cancer Society
                        <div class="d-block d-xxl-none"></div>
                        © 2020 | All Rights Reserved.
                    </div>
                    <ul class="footer_contact">
                        <li class="py-1 py-sm-0">TEL: <a href="tel:+886-2-25239118">+886-2-25239118</a></li>
                        <li>EMAIL 1: <a href="mailto:bcst@ms46.hinet.net">bcst@ms46.hinet.net</a></li>
                        <li>EMAIL 2: <a href="mailto:bcsttpe@gmail.com">bcsttpe@gmail.com</a></li>
                    </ul>
                </div>
                <div class="footer_row2 mt-3">
                    <div>We recommend you use <span class="text-warning">Edge, Safari, FireFox or Chrome</span> to browse the site.</div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>