<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jQuery -->
    <script src="/myProjects/TIBCS2020/static/plugins/jQuery-3.5.1/jquery-3.5.1.min.js"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/plugins/bootstrap-4.5.2/css/bootstrap.min.css">
    <script src="/myProjects/TIBCS2020/static/plugins/bootstrap-4.5.2/js/bootstrap.min.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/simplify.css">
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/plugins_modify.css">
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/custom.css">

    <script src="/myProjects/TIBCS2020/static/common/js/custom.js"></script>
</head>
<body>
    <div id="wrap">

        <header>
            <nav class="header_body container navbar navbar-expand-xl">
                <a class="navbar-brand" href="speakers.html">
                    <img class="d-none d-xxl-block" src="/myProjects/TIBCS2020/static/common/img/LOGO@2x.png">
                    <img class="d-block d-xxl-none" src="/myProjects/TIBCS2020/static/common/img/LOGO320@3x.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_menu" aria-controls="nav_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="aria-expanded-true" src="/myProjects/TIBCS2020/static/common/img/icon/icon_close.png">
                    <img class="aria-expanded-false" src="/myProjects/TIBCS2020/static/common/img/icon/icon_menu.png">
                </button>
            
                <div class="collapse navbar-collapse justify-content-end" id="nav_menu">
                    <ul class="navbar-nav nav_links">
                        <li><a href="speakers.html">Speakers</a></li>
                        <!-- <li><a href="lecture_hall.html">Lecture Hall</a></li> -->
                        <li><a href="poster.html">Poster</a></li>
                        <!-- <li><a href="exhibition.html">Exhibition</a></li> -->
                        <!-- <li><a href="information.html">Information</a></li>  -->
                        <!-- <li><a href="survey.html">Survey</a></li> -->
                        <!-- <li><a href="get_gift.html">Get Gift</a></li> -->
                        <li><a href="login.html" class="c_red cur_p">
                            <img src="/myProjects/TIBCS2020/static/common/img/icon/icon_login.png">
                            <span class="pl_2">Log In</span>
                        </a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="poster_bg">
            <div class="container">
                <div class="main_title main_title_padding">
                    <h1>Poster</h1>
                    <h2>壁報論文</h2>
                </div>

                <div class="searchBlock">
                    <input type="" class="searchInput" placeholder="Keyword / 關鍵字">
                    <button class="btn btn_gray btn_with_img font-italic searchBtn">
                        <img src="/myProjects/TIBCS2020/static/common/img/icon/icon_search.png"><span>Search</span>
                    </button>
                </div>

                <div class="poster_table_container">
                    <table class="custom_table poster_table">
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col">NO / 編號</th>
                                <th scope="col">Category / 主題分類</th>
                                <th scope="col">Title / 題目</th>
                                <th scope="col">First Author / 第一作者</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">001</td>
                                <td data_th="Category / 主題分類">Case Report</td>
                                <td data_th="Title / 題目"><a The href="poster_detail.html?">Different Screening & Management Strategies for Patients Diagnosed with Breast Ductal Carcinoma in Situ (DCIS)</a></td>
                                <td data_th="First Author / 第一作者">陸希平</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">002</td>
                                <td data_th="Category / 主題分類">Clinical Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Explore changes in cognitive function in breast cancer patients undergoing adjuvant chemotherapy</a></td>
                                <td data_th="First Author / 第一作者">陳姿君</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">003</td>
                                <td data_th="Category / 主題分類">Clinical Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Receptor discordance and phenotype change in metastatic breast cancer</a></td>
                                <td data_th="First Author / 第一作者">高瑞吟</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">004</td>
                                <td data_th="Category / 主題分類">Basic Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Quinolinate phosphoribosyltransferase promotes invasiveness of breast cancer through myosin light chain phosphorylation</a></td>
                                <td data_th="First Author / 第一作者">張源清</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">005</td>
                                <td data_th="Category / 主題分類">Clinic Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">The effects of different endocrine therapies on the survival of breast cancer patients</a></td>
                                <td data_th="First Author / 第一作者">張婷宇</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">006</td>
                                <td data_th="Category / 主題分類">Case Report</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Introduce sentinel lymph node biopsy method to a small rural hospital:A preliminary  result in Puli Veterans Hospital</a></td>
                                <td data_th="First Author / 第一作者">陳柏長</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">007</td>
                                <td data_th="Category / 主題分類">Clinic Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Neurotoxic symptoms predicting quality of life in breast cancer survivors receiving chemotherapy: a cross-sectional study</a></td>
                                <td data_th="First Author / 第一作者">胡曉芳</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">008</td>
                                <td data_th="Category / 主題分類">Clinic Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Breast tumor detection and classification using intravoxel incoherent motion hyperspectral imaging techniques</a></td>
                                <td data_th="First Author / 第一作者">陳詩華</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">009</td>
                                <td data_th="Category / 主題分類">Basic Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Gene signatures and potential therapeutic targets of amino acid metabolism in estrogen receptor-positive breast cancer</a></td>
                                <td data_th="First Author / 第一作者">徐慧萍</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td data_th="NO / 編號">010</td>
                                <td data_th="Category / 主題分類">Clinic Research</td>
                                <td data_th="Title / 題目"><a href="poster_detail.html?">Body composition analysis and its clinical implications on curable breast cancer</a></td>
                                <td data_th="First Author / 第一作者">蔡坤璋</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer_top">
                <!-- <a class="fixed_survey btn flex_center" href="survey.html">
                    <div class="survey_content">
                        <img src="/myProjects/TIBCS2020/static/common/img/icon/icon_Survey.png">
                        <div class="survey_text">
                            <div>Survey</div>
                            <div>問卷調查</div>
                        </div>
                    </div>
                </a> -->
                <div class="fixed_backToTop btn">
                    <img src="/myProjects/TIBCS2020/static/common/img/top.png">
                </div>
            </div>
            <div class="footer_body container">
                <div class="footer_row1">
                    <div>Taiwan Breast Cancer Society
                        <div class="d-block d-xxl-none"></div>
                        © 2021 | All Rights Reserved.
                    </div>
                    <ul class="footer_contact">
                        <li class="py-1 py-sm-0">TEL: <a href="tel:+886-2-25239118">+886-2-25239118</a></li>
                        <li>EMAIL 1: <a href="mailto:bcst@ms46.hinet.net">bcst@ms46.hinet.net</a></li>
                        <li>EMAIL 2: <a href="mailto:bcsttpe@gmail.com">bcsttpe@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
    
</body>
</html>