<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut Icon" type="image/x-icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jQuery -->
    <script src="/myProjects/TIBCS2020/static/plugins/jQuery-3.5.1/jquery-3.5.1.min.js"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/plugins/bootstrap-4.5.2/css/bootstrap.min.css">
    <script src="/myProjects/TIBCS2020/static/plugins/bootstrap-4.5.2/js/bootstrap.min.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/simplify.css">
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/plugins_modify.css">
    <link rel="stylesheet" href="/myProjects/TIBCS2020/static/common/css/custom.css">

    <script src="/myProjects/TIBCS2020/static/common/js/custom.js"></script>
</head>
<body>
    <div id="wrap" class="posterDetail" style="background-color: #f6f6f6;">

        <header>
            <nav class="header_body container navbar navbar-expand-xl">
                <a class="navbar-brand" href="speakers.html">
                    <img class="d-none d-xxl-block" src="/myProjects/TIBCS2020/static/common/img/LOGO@2x.png">
                    <img class="d-block d-xxl-none" src="/myProjects/TIBCS2020/static/common/img/LOGO320@3x.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_menu" aria-controls="nav_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="aria-expanded-true" src="/myProjects/TIBCS2020/static/common/img/icon/icon_close.png">
                    <img class="aria-expanded-false" src="/myProjects/TIBCS2020/static/common/img/icon/icon_menu.png">
                </button>
            
                <div class="collapse navbar-collapse" id="nav_menu">
                    <ul class="navbar-nav nav_links">
                        <li><a href="speakers.html">Speakers</a></li>
                        <li><a href="lecture_hall.html">Lecture Hall</a></li>
                        <li><a href="poster.html">Poster</a></li>
                        <li><a href="exhibition.html">Exhibition</a></li>
                        <li><a href="information.html">Information</a></li> 
                        <li><a href="survey.html">Survey</a></li>
                        <!-- <li><a href="get_gift.html">Get Gift</a></li> -->
                        <li><a href="login.html" class="c_red cur_p">
                            <img src="/myProjects/TIBCS2020/static/common/img/icon/icon_login.png">
                            <span class="pl_2">Log In</span>
                        </a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <div class="container">
                <div class="row posterDetail_list">
                    <div class="col-12 col-md-6">
                        <div class="posterDetail_listItem">
                            <div>NO / 編號</div>
                            <div>001</div>
                            <img class="pos_a loc_6" src="/myProjects/TIBCS2020/static/common/img/icon/icon_3-1paper.png">
                        </div>
                        <div class="posterDetail_listItem">
                            <div>Title / 題目</div>
                            <h1>Different Screening & Management Strategies for Patients Diagnosed with Breast Ductal Carcinoma in Situ (DCIS)</h1>
                        </div>
                        <div class="posterDetail_listItem">
                            <div>Fitst Author / 第一作者</div>
                            <div>Shi-Ping Luh, M.D. Ph.D.</div>
                        </div>
                        <div class="posterDetail_listItem">
                            <div>Institution / 單位</div>
                            <div>Department of Surgery, Kaohsiung Municipal Min-Sheng Hospital</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="posterDetail_listItem">
                            <div>Category / 主題分類</div>
                            <div>Case Report</div>
                        </div>
                        <div class="posterDetail_listItem">
                            <div>Author Group / 作者群</div>
                            <div>Ta-Kuan Li, M.D., Chia-Chi Yen, M.D. Ph.D.</div>
                        </div>
                        <div class="posterDetail_listItem">
                            <div>Author Group Institution/ 作者群單位</div>
                            <div>Department of Surgery, Kaohsiung Municipal Min-Sheng Hospital</div>
                        </div>
                        <div class="posterDetail_listItem">
                            <div>Keyword / 關鍵字</div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <article class="posterDetail_article">
                    <section>
                        <img src="/myProjects/TIBCS2020/static/common/img/poster/001.jpg">
                        
                    </section>
                    
                </article>

                <div class="posterDetail_btn">
                    <button class="btn btn_danger btn_sm rounded-pill" onclick="historyBack('poster.html')">← Back to list</button>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer_top">
                <!-- <a class="fixed_survey btn flex_center" href="survey.html">
                    <div class="survey_content">
                        <img src="/myProjects/TIBCS2020/static/common/img/icon/icon_Survey.png">
                        <div class="survey_text">
                            <div>Survey</div>
                            <div>問卷調查</div>
                        </div>
                    </div>
                </a> -->
                <div class="fixed_backToTop btn">
                    <img src="/myProjects/TIBCS2020/static/common/img/top.png">
                </div>
            </div>
            <div class="footer_body container">
                <div class="footer_row1">
                    <div>Taiwan Breast Cancer Society
                        <div class="d-block d-xxl-none"></div>
                        © 2021 | All Rights Reserved.
                    </div>
                    <ul class="footer_contact">
                        <li class="py-1 py-sm-0">TEL: <a href="tel:+886-2-25239118">+886-2-25239118</a></li>
                        <li>EMAIL 1: <a href="mailto:bcst@ms46.hinet.net">bcst@ms46.hinet.net</a></li>
                        <li>EMAIL 2: <a href="mailto:bcsttpe@gmail.com">bcsttpe@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
    
    <script>
        /* 鎖右鍵 */
        $('.container').on('contextmenu', function(){
            window.event.returnValue=false; //將滑鼠右鍵事件取消
        })
    </script>

</body>
</html>