<footer>
    <div class="footer container-xl">
        <div class="footer_top">
            <button id="toTop" type="button"></button>
        </div>
        <div class="footer_body">
            <div class="footer_title f-h4">教育部教學實踐研究計畫專案辦公室</div>
            <div class="footer_logo">
                <img src="../static/common/img/Logo.png" alt="Logo">
            </div>
            <div class="footer_contact">
                <div>(02)3707-3477</div>
                <div>moetpr@narlabs.org.tw</div>
                <div class="d-flex ch_mr_2">
                    <a class="svg-rounded-facebook:hover" href="https://www.facebook.com/moetpr.tw" target="_blank">
                        <img src="../static/common/img/icon/rounded-facebook.svg" alt="facebook" onload="SVGInject(this)">
                    </a>
                    <a class="svg-rounded-youtube:hover" href="https://www.youtube.com/channel/UCN9bTTdzg7bdfCLy2KeTOpQ/featured" target="_blank">
                        <img src="../static/common/img/icon/rounded-youtube.svg" alt="youtube" onload="SVGInject(this)">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>