<header>
    <nav class="header navbar navbar-expand-lg navbar-light">
        <div class="container-xl">
            <a class="navbar-brand" href="index.html">
                <div class="logo_with_text">
                    <img height="87" class="d-none d-sm-block" src="../static/common/img/Logo.png" alt="Logo">
                    <img height="48" class="d-block d-sm-none" src="../static/common/img/Logo.png" alt="Logo">
                    <div class="f-h4 d-none d-sm-block">
                        教學實踐研究計畫<br>
                        教師成果交流網站
                    </div>
                </div>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="true">
                <img src="../../static/common/img/icon/menu.svg" alt="">
            </button>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex d-lg-none">
                        <button class="navbar-toggler collapsed ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="true">
                            <img src="../../static/common/img/icon/close.svg" alt="">
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">關於我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="plan.html">學門績優計畫</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://tpr.moe.edu.tw/resultReport" target="_blank">成果報告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resources.html">教學研究資源</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">聯絡我們</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>